.flyingon-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=10);
    opacity: 0.1;
    background-color: silver;
    z-index: 100;
}


.flyingon-control {
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
}

.flyingon-absolute {
    position: absolute;
    margin: 0;
    overflow: hidden; /*解决IE怪异模式无法设置高度小于一定值的问题*/
    display: inline-block; /*解决inline元素无发设置高宽的问题*/
}

.flyingon-host, .flyingon-html {
    position: relative;
}


.flyingon-label {
    padding: 2px 4px;
}


.flyingon-panel {
    border: 0 solid;
}