body {
    margin: 0;
    padding: 0;
    font: 12px "PingFang SC","Lantinghei SC","Microsoft YaHei",arial,"\5b8b\4f53",sans-serif,tahoma;
    background-color: #fff;
}

.f-calendar-dark {
    color: darkgray;
}

.f-calendar-disabled {
    background-color: #f0f0f0;
    color: darkgray;
}

.f-calendar-selected {
    color: #3498db;
}

.f-calendar-title span:hover,
.f-calendar-today:hover,
.f-calendar-clear:hover {
    color: #3498db;
    text-decoration: underline;
}

.f-input, 
.f-back, 
.f-textbutton,
.f-tree, 
.f-tab,
.f-tab-forward,
.f-tab-back,
.f-tab-item,
.f-popup,
.f-dialog, 
.f-groupbox,
.f-calendar {
    border: 1px solid #95B8E7;
}

.f-tab-head,
.f-message-foot {
    background-color: #EFF5FF;
}

.f-calendar-line,
.f-tab-line,
.f-groupbox-line,
.f-dialog-line {
    background-color: #95B8E7;
}

.f-back, 
.f-tab-forward,
.f-tab-back,
.f-tab-item,
.f-groupbox-head,
.f-dialog-head {
    background-color: #EFF5FF;
    background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}

.f-selected-back,
.f-tab-selected .f-tab-item,
.f-dialog-active .f-dialog-head {
    background-color: #ffffff;
    background: -webkit-linear-gradient(top,#EFF5FF 0,#ffffff 100%);
    background: -moz-linear-gradient(top,#EFF5FF 0,#ffffff 100%);
    background: -o-linear-gradient(top,#EFF5FF 0,#ffffff 100%);
    background: linear-gradient(to bottom,#EFF5FF 0,#ffffff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#ffffff,GradientType=0);
}

.f-input,
.f-popup,
.f-dialog,
.f-calendar {
    background-color: white;
}

.f-popup, 
.f-dialog {
    box-shadow: 2px 2px 2px silver;
}

.f-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=10);
    opacity: 0.1;
    background-color: silver;
    z-index: 100;
}

.f-dialog {
    z-index: 99;
}

.f-popup,
.f-dialog-active {
    z-index: 100;
}

.f-control, 
.f-tab-item,
.f-tab-forward, 
.f-tab-back {
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
}

.f-absolute {
    position: absolute;
    margin: 0;
    overflow: hidden; /*解决IE怪异模式无法设置高度小于一定值的问题*/
    display: inline-block; /*解决inline元素无发设置高宽的问题*/
}


.f-tab-head, 
.f-tab-line,
.f-tab-forward,
.f-tab-back,
.f-tab-content, 
.f-tab-item-host,
.f-tab-item,
.f-tab-body,
.f-groupbox-head,
.f-groupbox-body,
.f-groupbox-line,
.f-dialog-head,
.f-dialog-body,
.f-dialog-line {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}


.f-host, .f-html {
    position: relative;
}


.f-label {
    padding: 2px 4px;
}


.f-textbutton-body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 0 2px;
}

.f-textbutton-text {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    width: 100%;
    height: 100%;
}

.f-textbutton-button {
    position: absolute;
    display: inline-block;
    height: 16px;
    left: auto;
    right: 0;
    top: 50%;
    margin-top: -9px;
    background: url(flyingon.png) no-repeat -197px -11px;
}


.f-combobox-button {
    background: url(flyingon.png) no-repeat -225px -12px;
}

.f-datepicker-button,
.f-monthpicker-button {
    background: url(flyingon.png) no-repeat -255px -13px;
}


.f-calendar-head {
    position: relative;
    text-align: center;
}

.f-calendar-before1,
.f-calendar-before2,
.f-calendar-after1,
.f-calendar-after2 {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
}

.f-calendar-before1 {
    left: 20px;
    background: url(flyingon.png) no-repeat -30px -154px;
    cursor: pointer;
}

.f-calendar-before2 {
    left: 4px;
    background: url(flyingon.png) no-repeat -11px -153px;
    cursor: pointer;
}

.f-calendar-title,
.f-calendar-year,
.f-calendar-month {
    font-family: 'PT Sans',Tahoma;
    font-size: 14px;
    cursor: pointer;
}

.f-calendar-after1 {
    right: 20px;
    background: url(flyingon.png) no-repeat -64px -153px;
    cursor: pointer;
}

.f-calendar-after2 {
    right: 4px;
    background: url(flyingon.png) no-repeat -85px -153px;
    cursor: pointer;
}

.f-calendar-selected {
    font-weight: bold;
}

.f-calendar-week span,
.f-calendar-date span {
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.f-calendar-date span {
    cursor: pointer;
}

.f-calendar-foot {
    padding: 0 8px;
}

.f-calendar-time {
    float: left;
    width: 60px;
    margin-top: 4px;
    border: 0;
    outline: none;
}

.f-calendar-today,
.f-calendar-clear {
    margin-left: 8px;
    float: right;
    cursor: pointer;
}

.f-calendar-year span {
    display: inline-block;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.f-calendar-month span {
    display: inline-block;
    width: 25%;
    text-align: center;
    cursor: pointer;
}


.f-tab {
    overflow: hidden;
}

.f-tab-forward,
.f-tab-back {
    cursor: pointer;
}

.f-tab-content {
    overflow: visible;
    white-space: nowrap;
}

.f-tab-item-host {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.f-tab-item {
    position: static;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.f-tab-item {
    padding: 0 8px;
    text-align: center;
}

.f-tab-icon, 
.f-tab-button, 
.f-tab-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.f-tab-icon-none {
    display: none;
}

.f-tab-text {
    padding: 0 2px;
}

.f-tab-close {
    width: 12px;
    background: url(flyingon.png) no-repeat -110px -16px;
}

.f-tab-direction-left .f-tab-item-host,
.f-tab-direction-right .f-tab-item-host {
    display: block;
}

.f-tab-direction-top .f-tab-line {
    top: auto;
    height: 1px;
}

.f-tab-direction-bottom .f-tab-line {
    bottom: auto;
    height: 1px;
}

.f-tab-direction-left .f-tab-line {
    left: auto;
    width: 1px;
}

.f-tab-direction-right .f-tab-line {
    right: auto;
    width: 1px;
}

.f-tab-selected .f-tab-line {
    display: none;
}

.f-tab-direction-top .f-tab-content, 
.f-tab-direction-bottom .f-tab-content {
    right: auto;
}

.f-tab-direction-left .f-tab-content, 
.f-tab-direction-right .f-tab-content {
    bottom: auto;
}

.f-tab-direction-top .f-tab-forward, 
.f-tab-direction-bottom .f-tab-forward {
    left: -1px;
}

.f-tab-direction-left .f-tab-forward, 
.f-tab-direction-right .f-tab-forward {
    top: -1px;
}

.f-tab-direction-top .f-tab-back, 
.f-tab-direction-bottom .f-tab-back {
    left: auto;
    right: -1px;
}

.f-tab-direction-left .f-tab-back, 
.f-tab-direction-right .f-tab-back {
    top: auto;
    bottom: -1px;
}

.f-tab-scroll {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.f-tab-direction-top .f-tab-scroll, 
.f-tab-direction-bottom .f-tab-scroll {
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px; 
}

.f-tab-direction-left .f-tab-scroll, 
.f-tab-direction-right .f-tab-scroll {
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px; 
}

.f-tab-direction-top .f-tab-forward .f-tab-scroll, 
.f-tab-direction-bottom .f-tab-forward .f-tab-scroll {
    background: url(flyingon.png) no-repeat -18px -15px;
}

.f-tab-direction-top .f-tab-back .f-tab-scroll, 
.f-tab-direction-bottom .f-tab-back .f-tab-scroll {
    background: url(flyingon.png) no-repeat -41px -15px;
}

.f-tab-direction-left .f-tab-forward .f-tab-scroll, 
.f-tab-direction-right .f-tab-forward .f-tab-scroll {
    background: url(flyingon.png) no-repeat -63px -15px;
}

.f-tab-direction-left .f-tab-back .f-tab-scroll, 
.f-tab-direction-right .f-tab-back .f-tab-scroll {
    background: url(flyingon.png) no-repeat -87px -16px;
}

.f-tab-direction-top .f-tab-item {
    border-radius: 5px 5px 0 0;
}

.f-tab-direction-bottom .f-tab-item {
    border-radius: 0 0 5px 5px;
}

.f-tab-direction-left .f-tab-item {
    direction: rtl;
    text-align: right;
    border-radius: 5px 0 0 5px;
}

.f-tab-direction-right .f-tab-item {
    text-align: left;
    border-radius: 0 5px 5px 0;
}


.f-tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.f-tree-node {
    white-space: nowrap;
    cursor: pointer;
    height: 18px;
    border: 0;
    padding: 0;
}

.f-tree-space, 
.f-tree-folder, 
.f-tree-file, 
.f-tree-check, 
.f-tree-icon, 
.f-tree-text {
    display: inline-block;
    width: 16px;
    height: 100%;
    overflow: hidden;
}

.f-tree-text {
    width: auto;
    padding: 0 2px;
    line-height: 18px;
    white-space: nowrap;
}

.f-tree-no-check .f-tree-check {
    display: none;
}

.f-tree-no-icon .f-tree-icon {
    display: none;
}

.f-tree-open {
    background: url(flyingon.png) no-repeat -118px -40px;
}

.f-tree-close {
    background: url(flyingon.png) no-repeat -101px -40px;
}

.f-tree-theme-blue .f-tree-open {
    background: url(flyingon.png) no-repeat -36px -38px;
}

.f-tree-theme-blue .f-tree-close {
    background: url(flyingon.png) no-repeat -16px -38px;
}

.f-tree-theme-plus .f-tree-open {
    background: url(flyingon.png) no-repeat -36px -93px;
}

.f-tree-theme-plus .f-tree-close {
    background: url(flyingon.png) no-repeat -15px -93px;
}

.f-tree-theme-line .f-tree-open {
    background: url(flyingon.png) no-repeat -215px -96px;
}

.f-tree-theme-line .f-tree-close {
    background: url(flyingon.png) no-repeat -193px -96px;
}

.f-tree-theme-line .f-tree-file {
    background: url(flyingon.png) no-repeat -246px -67px;
}

.f-tree-theme-line .f-tree-space {
    background: url(flyingon.png) no-repeat -205px -65px;
}

.f-tree-theme-line .f-tree-node-last>.f-tree-open {
    background: url(flyingon.png) no-repeat -79px -94px;
}

.f-tree-theme-line .f-tree-node-last>.f-tree-close {
    background: url(flyingon.png) no-repeat -57px -94px;
}

.f-tree-theme-line .f-tree-node-last>.f-tree-file {
    background: url(flyingon.png) no-repeat -182px -73px;
}

.f-tree-theme-line .f-tree-list-last .f-tree-space:first-child {
    background: none;
}

.f-tree-checked {
    background: url(flyingon.png) no-repeat -42px -66px;
}

.f-tree-checked2 {
    background: url(flyingon.png) no-repeat -66px -66px;
}

.f-tree-unchecked {
    background: url(flyingon.png) no-repeat -18px -66px;
}

.f-tree-icon-open {
    background: url(flyingon.png) no-repeat -115px -67px;
}

.f-tree-icon-close {
    background: url(flyingon.png) no-repeat -90px -67px;
}

.f-tree-icon-file {
    background: url(flyingon.png) no-repeat -141px -66px;
}


.f-dialog,
.f-groupbox {
    overflow: hidden;
}

.f-dialog-head,
.f-groupbox-head {
    padding: 0 4px;
    cursor: default;
}

.f-dialog-line,
.f-groupbox-line {
    top: auto;
    height: 1px;
}

.f-dialog-icon,
.f-groupbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -4px;
    vertical-align: middle;
}

.f-dialog-close,
.f-groupbox-flag {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 4px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

.f-dialog-close {
    background: url(flyingon.png) no-repeat -108px -15px;
}

.f-message-foot {
    text-align: center;
}

.f-message-foot button {
    margin: 0 4px;
}

.f-message-information {
    background: url(flyingon.png) no-repeat -62px -184px
}

.f-message-question {
    background: url(flyingon.png) no-repeat -117px -184px;
}

.f-message-warn {
    background: url(flyingon.png) no-repeat -176px -185px;
}

.f-message-error {
    background: url(flyingon.png) no-repeat -3px -183px;
}

.f-groupbox-open {
    background: url(flyingon.png) no-repeat -87px -16px;
}

.f-groupbox-close {
    background: url(flyingon.png) no-repeat -63px -15px;
}