body {
    margin: 0;
    padding: 0;
    font: 12px "PingFang SC","Lantinghei SC","Microsoft YaHei",arial,"\5b8b\4f53",sans-serif,tahoma;
    background-color: white;
}

.f-slider-button div,
.f-progressbar-back,
.f-grid-head .f-grid-cell,
.f-grid-head .f-grid-right,
.f-grid-group-cell,
.f-tab-head,
.f-message-foot {
    background-color: #EFF5FF;
}

.f-slider-bar,
.f-slider-button,
.f-calendar-line,
.f-grid-resize-thumb,
.f-tab-line,
.f-groupbox-line,
.f-dialog-line {
    background-color: #95B8E7;
}

input[type="text"],
.f-input,
.f-textbox,
.f-grid-left,
.f-grid-center,
.f-grid-right,
.f-slider-bar div,
.f-popup,
.f-dialog,
.f-calendar {
    background-color: white;
}

.f-overlay {
    background-color: silver;
}

.f-back, 
.f-tab-link,
.f-tab-move-link,
.f-groupbox-head,
.f-dialog-head {
    background-color: #EFF5FF;
    background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
    background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}

.f-selected-back,
.f-tab-selected .f-tab-link,
.f-dialog-active .f-dialog-head {
    background-color: white;
    background: -webkit-linear-gradient(top,#EFF5FF 0,white 100%);
    background: -moz-linear-gradient(top,#EFF5FF 0,white 100%);
    background: -o-linear-gradient(top,#EFF5FF 0,white 100%);
    background: linear-gradient(to bottom,#EFF5FF 0,white 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=white,GradientType=0);
}

.f-calendar-dark {
    color: darkgray;
}

.f-calendar-disabled {
    background-color: #F0F0F0;
    color: darkgray;
}

.f-listbox-selected,
.f-calendar-selected {
    color: #3498DB;
}

.f-calendar-title span:hover,
.f-calendar-today:hover,
.f-calendar-clear:hover {
    color: #3498DB;
    text-decoration: underline;
}

.f-grid-group,
.f-grid-top .f-grid-cell,
.f-grid-bottom .f-grid-cell {
    background-color: #F8F8F8;
}

.f-grid-group .f-information {
    font-size: 14px;
    background-color: #F8F8F8;
    color: darkgray;
}

.f-input, 
.f-back, 
.f-textbox,
.f-textbutton,
.f-listbox,
.f-tree, 
.f-tab,
.f-tab-link,
.f-tab-move-link,
.f-popup,
.f-dialog, 
.f-groupbox,
.f-calendar,
.f-progressbar,
.f-grid,
.f-grid-group-cell {
    border: 1px solid #95B8E7;
}

.f-grid-group,
.f-grid-column-head,
.f-grid-filter,
.f-grid-top,
.f-grid-bottom,
.f-grid-cell {
    border-style: solid;
    border-color: #95B8E7;
}

.f-grid-left,
.f-grid-right {
    border-style: solid;
    border-color: darkgray;
}

.f-tab-direction-top .f-tab-selected .f-tab-link {
    border-bottom-color: white;
}

.f-tab-direction-bottom .f-tab-selected .f-tab-link {
    border-top-color: white;
}

.f-tab-direction-left .f-tab-selected .f-tab-link {
    border-right-color: white;
}

.f-tab-direction-right .f-tab-selected .f-tab-link {
    border-left-color: white;
}

.f-popup, 
.f-dialog {
    box-shadow: 2px 2px 2px silver;
}

.f-control,
.f-grid-group,
.f-grid-column-head,
.f-grid-filter,
.f-grid-left,
.f-grid-right,
.f-grid-top {
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    *behavior: url(../css/box-sizing.htc);
}

.f-absolute {
    position: absolute;
    margin: 0;
    overflow: hidden; /*解决IE怪异模式无法设置高度小于一定值的问题*/
    display: inline-block; /*解决inline元素无发设置高宽的问题*/
}

.f-host, .f-html {
    position: relative;
}

.f-rtl {
    direction: rtl;
}


.f-label {
    padding: 0 2px;
}

.f-button span {
    display: inline-block;
}

.f-textbox {
    padding: 0 2px;
    height: 21px;
    outline: none;
}

.f-checkbox-input {
    position: absolute;
    padding: 0;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
}


.f-scrollpanel-scroll,
.f-scrollpanel-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}


.f-slider-bar {
    position: absolute;
    border: 0;
    padding: 0;
    width: auto;
    height: 4px;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -2px;
}

.f-slider-button {
    position: absolute;
    border: 0;
    padding: 0;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

.f-slider-bar div,
.f-slider-button div {
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
}

.f-progressbar-back {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: auto;
}

.f-progressbar-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    text-align: center;
}


.f-listbox {
    overflow: auto;
}

.f-listbox-item {
    position: absolute;
    padding: 0 4px;
    cursor: default;
    white-space: nowrap;
}

.f-listbox-item input {
    vertical-align: middle;
    margin: 0 2px;
}

.f-listbox-item span {
    vertical-align: middle;
}

.f-listbox-clear {
    font-size: 8px;
    font-style: italic;
}


.f-textbutton-body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 0 2px;
}

.f-textbutton-text {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    width: 100%;
    height: 100%;
}

.f-textbutton-button {
    position: absolute;
    display: inline-block;
    height: 16px;
    left: auto;
    right: 0;
    top: 50%;
    margin-top: -9px;
    background: url(flyingon.png) no-repeat -197px -11px;
}


.f-combobox-button {
    background: url(flyingon.png) no-repeat -225px -12px;
}

.f-datepicker-button,
.f-monthpicker-button {
    background: url(flyingon.png) no-repeat -255px -13px;
}


.f-calendar-head {
    position: relative;
    text-align: center;
}

.f-calendar-before1,
.f-calendar-before2,
.f-calendar-after1,
.f-calendar-after2 {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
}

.f-calendar-before1 {
    left: 20px;
    background: url(flyingon.png) no-repeat -30px -154px;
    cursor: pointer;
}

.f-calendar-before2 {
    left: 4px;
    background: url(flyingon.png) no-repeat -11px -153px;
    cursor: pointer;
}

.f-calendar-title,
.f-calendar-year,
.f-calendar-month {
    font-family: 'PT Sans',Tahoma;
    font-size: 14px;
    cursor: pointer;
}

.f-calendar-after1 {
    right: 20px;
    background: url(flyingon.png) no-repeat -64px -153px;
    cursor: pointer;
}

.f-calendar-after2 {
    right: 4px;
    background: url(flyingon.png) no-repeat -85px -153px;
    cursor: pointer;
}

.f-calendar-selected {
    font-weight: bold;
}

.f-calendar-week,
.f-calendar-date,
.f-calendar-year,
.f-calendar-month {
    white-space: nowrap;
}

.f-calendar-week span,
.f-calendar-date span {
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.f-calendar-date span {
    cursor: pointer;
}

.f-calendar-foot {
    padding: 0 8px;
}

.f-calendar-time {
    float: left;
    width: 60px;
    margin-top: 4px;
    border: 0;
    outline: none;
}

.f-calendar-today,
.f-calendar-clear {
    margin-left: 8px;
    float: right;
    cursor: pointer;
}

.f-calendar-year span {
    display: inline-block;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.f-calendar-month span {
    display: inline-block;
    width: 25%;
    text-align: center;
    cursor: pointer;
}


.f-tree {
    overflow: auto;
    padding: 2px;
}

.f-tree-node {
    white-space: nowrap;
    cursor: pointer;
    height: 18px;
    border: 0;
    padding: 0;
}

.f-tree-space, 
.f-tree-folder, 
.f-tree-file, 
.f-tree-check, 
.f-tree-icon, 
.f-tree-text {
    display: inline-block;
    width: 16px;
    height: 100%;
    overflow: hidden;
}

.f-tree-text {
    width: auto;
    padding: 0 2px;
    line-height: 18px;
    white-space: nowrap;
}

.f-tree-no-check .f-tree-check {
    display: none;
}

.f-tree-no-icon .f-tree-icon {
    display: none;
}

.f-tree-open {
    background: url(flyingon.png) no-repeat -118px -40px;
}

.f-tree-close {
    background: url(flyingon.png) no-repeat -101px -40px;
}

.f-tree-theme-blue .f-tree-open {
    background: url(flyingon.png) no-repeat -36px -38px;
}

.f-tree-theme-blue .f-tree-close {
    background: url(flyingon.png) no-repeat -16px -38px;
}

.f-tree-theme-plus .f-tree-open {
    background: url(flyingon.png) no-repeat -36px -93px;
}

.f-tree-theme-plus .f-tree-close {
    background: url(flyingon.png) no-repeat -15px -93px;
}

.f-tree-theme-line .f-tree-open {
    background: url(flyingon.png) no-repeat -215px -96px;
}

.f-tree-theme-line .f-tree-close {
    background: url(flyingon.png) no-repeat -193px -96px;
}

.f-tree-theme-line .f-tree-file {
    background: url(flyingon.png) no-repeat -246px -67px;
}

.f-tree-theme-line .f-tree-space {
    background: url(flyingon.png) no-repeat -205px -65px;
}

.f-tree-theme-line .f-tree-node-last>.f-tree-open {
    background: url(flyingon.png) no-repeat -79px -94px;
}

.f-tree-theme-line .f-tree-node-last>.f-tree-close {
    background: url(flyingon.png) no-repeat -57px -94px;
}

.f-tree-theme-line .f-tree-node-last>.f-tree-file {
    background: url(flyingon.png) no-repeat -182px -73px;
}

.f-rtl .f-tree-theme-line .f-tree-open {
    background: url(flyingon.png) no-repeat -171px -96px;
}

.f-rtl .f-tree-theme-line .f-tree-close {
    background: url(flyingon.png) no-repeat -148px -96px;
}

.f-rtl .f-tree-theme-line .f-tree-file {
    background: url(flyingon.png) no-repeat -228px -67px;
}

.f-rtl .f-tree-theme-line .f-tree-node-last>.f-tree-open {
    background: url(flyingon.png) no-repeat -126px -94px;
}

.f-rtl .f-tree-theme-line .f-tree-node-last>.f-tree-close {
    background: url(flyingon.png) no-repeat -104px -94px;
}

.f-rtl .f-tree-theme-line .f-tree-node-last>.f-tree-file {
    background: url(flyingon.png) no-repeat -167px -73px;
}

.f-tree-checked {
    background: url(flyingon.png) no-repeat -42px -66px;
}

.f-tree-checked2 {
    background: url(flyingon.png) no-repeat -66px -66px;
}

.f-tree-unchecked {
    background: url(flyingon.png) no-repeat -18px -66px;
}

.f-tree-icon-open {
    background: url(flyingon.png) no-repeat -115px -67px;
}

.f-tree-icon-close {
    background: url(flyingon.png) no-repeat -90px -67px;
}

.f-tree-icon-file {
    background: url(flyingon.png) no-repeat -141px -66px;
}


.f-grid-group,
.f-grid-column-head,
.f-grid-filter {
    position: relative;
    overflow: hidden;
    margin: 0;
    border-width: 0 0 1px 0;
    padding: 0;
    outline: none;
    white-space: nowrap;
    cursor: default;
}

.f-grid-group-cell {
    position: static;
    margin-left: 8px;
    padding: 2px 20px;
}

.f-grid-group .f-information {
    margin-left: 8px;
    border: 0;
}

.f-grid-column-thumb {
    position:absolute;
    z-index: 10;
}

.f-grid-column-thumb-body {
    position: absolute;
    width: 9px;
    left: 50%;
    margin-left: -4px;
    top: 0;
    bottom: 0;
    border-top: 2px solid lightcoral;
    border-bottom: 2px solid lightcoral;
}

.f-grid-column-thumb-body div {
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    left: 3px;
    background-color: lightcoral;
}

.f-grid-scroll,
.f-grid-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.f-grid-body {
    overflow: hidden;
    outline: none;
}

.f-grid-cell {
    position: absolute;
    border-width: 0 1px 1px 0;
}

.f-grid-head .f-label,
.f-grid-head .f-htmlelement {
    text-align: center;
}

.f-grid-resize {
    position: absolute;
    width: 5px;
    cursor: ew-resize;
    background-color: transparent;
    z-index: 2;
}

.f-grid-resize-thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    cursor: ew-resize;
    z-index: 10;
}

.f-grid-top,
.f-grid-middle,
.f-grid-bottom {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    overflow: hidden;
}

.f-grid-middle {
    top: 0;
    bottom: 0;
}

.f-grid-top {
    border-width: 0 0 1px 0;
    top: 0;
    z-index: 2;
}

.f-grid-bottom {
    border-width: 1px 0 0 0;
    bottom: 0;
    z-index: 2;
}

.f-grid-left,
.f-grid-center,
.f-grid-right {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.f-grid-left {
    border-width: 0 2px 0 0;
    right: auto;
    z-index: 2;
}

.f-grid-right {
    border-width: 0 0 0 2px;
    left: auto;
    z-index: 2;
}


.f-groupbox {
    overflow: hidden;
}

.f-groupbox-head,
.f-groupbox-body,
.f-groupbox-line {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.f-groupbox-head {
    padding: 0 4px;
    cursor: default;
}

.f-groupbox-line {
    top: auto;
    height: 1px;
}

.f-groupbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -4px;
    vertical-align: middle;
}

.f-groupbox-flag {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 4px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

.f-groupbox-open {
    background: url(flyingon.png) no-repeat -87px -16px;
}

.f-groupbox-close {
    background: url(flyingon.png) no-repeat -63px -15px;
}


.f-tab {
    overflow: hidden;
}

.f-tab-head, 
.f-tab-line,
.f-tab-move,
.f-tab-content, 
.f-tab-body {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.f-tab-content {
    overflow: visible;
    white-space: nowrap;
}

.f-tab-item {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.f-tab-link {
    display: block;
    margin: 0;
    padding: 0 8px;
    width: auto;
    height: auto;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

.f-tab-icon, 
.f-tab-button, 
.f-tab-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.f-tab-icon-none {
    display: none;
}

.f-tab-text {
    padding: 0 2px;
}

.f-tab-close {
    width: 12px;
    background: url(flyingon.png) no-repeat -110px -16px;
}

.f-tab-direction-left .f-tab-item,
.f-tab-direction-right .f-tab-item {
    display: block;
}

.f-tab-direction-top .f-tab-line {
    top: auto;
    height: 1px;
}

.f-tab-direction-bottom .f-tab-line {
    bottom: auto;
    height: 1px;
}

.f-tab-direction-left .f-tab-line {
    left: auto;
    width: 1px;
}

.f-tab-direction-right .f-tab-line {
    right: auto;
    width: 1px;
}

.f-tab-direction-top .f-tab-content, 
.f-tab-direction-bottom .f-tab-content {
    right: auto;
}

.f-rtl .f-tab-direction-top .f-tab-content, 
.f-rtl .f-tab-direction-bottom .f-tab-content {
    left: auto;
}

.f-tab-direction-left .f-tab-content, 
.f-tab-direction-right .f-tab-content {
    bottom: auto;
}

.f-tab-direction-top .f-tab-forward, 
.f-tab-direction-bottom .f-tab-forward {
    left: -1px;
}

.f-tab-direction-left .f-tab-forward, 
.f-tab-direction-right .f-tab-forward {
    top: -1px;
}

.f-tab-direction-top .f-tab-back, 
.f-tab-direction-bottom .f-tab-back {
    left: auto;
    right: -1px;
}

.f-tab-direction-left .f-tab-back, 
.f-tab-direction-right .f-tab-back {
    top: auto;
    bottom: -1px;
}

.f-tab-move-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.f-tab-move-icon {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.f-tab-direction-top .f-tab-move-icon, 
.f-tab-direction-bottom .f-tab-move-icon {
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px; 
}

.f-tab-direction-left .f-tab-move-icon, 
.f-tab-direction-right .f-tab-move-icon {
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px; 
}

.f-tab-direction-top .f-tab-forward .f-tab-move-icon, 
.f-tab-direction-bottom .f-tab-forward .f-tab-move-icon {
    background: url(flyingon.png) no-repeat -18px -15px;
}

.f-tab-direction-top .f-tab-back .f-tab-move-icon, 
.f-tab-direction-bottom .f-tab-back .f-tab-move-icon {
    background: url(flyingon.png) no-repeat -41px -15px;
}

.f-tab-direction-left .f-tab-forward .f-tab-move-icon, 
.f-tab-direction-right .f-tab-forward .f-tab-move-icon {
    background: url(flyingon.png) no-repeat -63px -15px;
}

.f-tab-direction-left .f-tab-back .f-tab-move-icon, 
.f-tab-direction-right .f-tab-back .f-tab-move-icon {
    background: url(flyingon.png) no-repeat -87px -16px;
}

/*.f-tab-direction-top .f-tab-link {
    border-radius: 5px 5px 0 0;
}

.f-tab-direction-bottom .f-tab-link {
    border-radius: 0 0 5px 5px;
}*/

.f-tab-direction-left .f-tab-link {
    direction: rtl;
    text-align: right;
    /*border-radius: 5px 0 0 5px;*/
}

.f-tab-direction-right .f-tab-link {
    text-align: left;
    /*border-radius: 0 5px 5px 0;*/
}


.f-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=10);
    opacity: 0.1;
    z-index: 100;
}


.f-popup {
    z-index: 100;
}


.f-dialog {
    overflow: hidden;
    z-index: 99;
}

.f-dialog-active {
    z-index: 100;
}

.f-dialog-head,
.f-dialog-body,
.f-dialog-line {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.f-dialog-head {
    padding: 0 4px;
    cursor: default;
}

.f-dialog-line {
    top: auto;
    height: 1px;
}

.f-dialog-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -4px;
    vertical-align: middle;
}

.f-dialog-close {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 4px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url(flyingon.png) no-repeat -108px -15px;
}


.f-message-foot {
    text-align: center;
}

.f-message-foot button {
    margin: 0 4px;
}

.f-message-information {
    background: url(flyingon.png) no-repeat -62px -184px
}

.f-message-question {
    background: url(flyingon.png) no-repeat -117px -184px;
}

.f-message-warn {
    background: url(flyingon.png) no-repeat -176px -185px;
}

.f-message-error {
    background: url(flyingon.png) no-repeat -3px -183px;
}